<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestGetPostApi">
    <test name="Pack 2">
        <classes>
            <class name="project.tests.GetPostByIdTest"/>
            <class name="project.tests.GetPostByWrongIdTest"/>
            <class name="project.tests.GetPostsTest"/>
            <class name="project.tests.GetUserByIdTest"/>
            <class name="project.tests.GetUsersTest"/>
            <class name="project.tests.PostPostTest"/>
        </classes>
    </test>
</suite>